.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #f15a29;
  /* Black fallback color */
  background-color: #f15a29;
  /* Black w/opacity */
  overflow-y: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


/* Position the content inside the overlay */

.humberburger {
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}


/* The navigation links inside the overlay */

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}


/* When you mouse over the navigation links, change their color */

.overlay a:hover, .overlay a:focus {
  color: black;
}


/* Position the close button (top right corner) */

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.header{
  background-image: url("../images/backgrounds/landing.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  text-align: center;
  position:relative;
  margin: 0px;
  font-family: Merriweather;
}
.breakfast{
  background-image: url("../images/foodtop/breakfast.jpg");
  color: white;
  text-align: center;
  padding-top: 98px;
  padding-bottom: 98px;
  background-size: cover;
  height: 226px;
  font-family: Merriweather;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.breakfast:hover {
  opacity: 0.7;
  color: black;
}
.lunch{
  background-image: url("../images/foodtop/lunch.jpg");
  color: white;
  background-size: cover;
  text-align: center;
  padding-top: 98px;
  padding-bottom: 98px;
  height: 226px;
  font-family: Merriweather;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.lunch:hover {
  opacity: 0.7;
  color: black;
}
.dinner{
  background-image: url("../images/foodtop/dinner.jpg");
  color: white;
  background-size:cover;
  text-align: center;
  padding-top: 98px;
  height: 226px;
  padding-bottom: 98px;
  background-repeat: no-repeat;
  font-family: Merriweather;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.dinner:hover {
  opacity: 0.7;
  color: black;
}
.happy{
  text-align: center;
  padding: 0px;
  margin: 0px;
  height: 113px;
  font-family: Merriweather;
  padding: 50px;
}
.party{
  text-align: center;
  background-color: #F15A29;
  color: white;
  height: 113px;
  font-family: Merriweather;
  padding : 50px;
}
.fastfood{
  padding:10px;
  margin: 10px;
  box-shadow:3px 3px 3px 3px;
  font-family: Merriweather;
}
.subscribe{
  background-image: url("../images/backgrounds/subscribe.jpg");
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Merriweather;
  margin: 0px;
}
footer{
  background-color: #F15A29;
  text-align: center;
  color: white;
  margin: -20px;
}
.foodbg{
  background-image: url("../images/backgrounds/foodsBg.jpg");
  padding: 5%;
  width: 980px;
  height:390px ;
  font-family: Merriweather;
  background-repeat: no-repeat;
  background-position: center;
}
.drinks{
  box-shadow: 1px 1px 1px 1px;
  padding:5px;
  margin-bottom: 10px;
  font-family: Merriweather;
  text-align: left;
}
table{
  color: #f15a29;
  background-color: white;
}
.nav{
  background-color: white;
  text-align: center;
  font-family: Merriweather;
}
form{
  opacity: 1;
}
.drink{
  text-align: right;
  font-family: Merriweather;
}
.btn{
  color: #f15a29;
  margin: 5px;
}
header{
  text-align: left;
  opacity: 0.3;
}
.customers{
  text-align: center;
margin: 75px 100px 75px 100px;
border: 10px solid #fff;
box-shadow: -1px 1px 5px 4px #E3E3E3;
padding: 20px 20px 20px 20px;
}
.last {
  padding: 15px 25px;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f15a29;
}
.btn-group button {
    background-color: grey;
    border: 1px solid grey;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}



.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
#e-mail{
  opacity: 0.5;
  color: blue;
}
