.header{
  background-image: url("../images/backgrounds/landing.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  text-align: center;
  position:relative;
  margin: 0px;
  font-family: Merriweather;
}
.breakfast{
  background-image: url("../images/foodtop/breakfast.jpg");
  color: white;
  text-align: center;
  padding-top: 98px;
  padding-bottom: 98px;
  background-size: cover;
  height: 226px;
  font-family: Merriweather;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.breakfast:hover {
  opacity: 0.7;
  color: black;
}
.lunch{
  background-image: url("../images/foodtop/lunch.jpg");
  color: white;
  background-size: cover;
  text-align: center;
  padding-top: 98px;
  padding-bottom: 98px;
  height: 226px;
  font-family: Merriweather;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.lunch:hover {
  opacity: 0.7;
  color: black;
}
.dinner{
  background-image: url("../images/foodtop/dinner.jpg");
  color: white;
  background-size:cover;
  text-align: center;
  padding-top: 98px;
  height: 226px;
  padding-bottom: 98px;
  background-repeat: no-repeat;
  font-family: Merriweather;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.dinner:hover {
  opacity: 0.7;
  color: black;
}
.happy{
  text-align: center;
  padding: 0px;
  margin: 0px;
  height: 113px;
  font-family: Merriweather;
  padding: 50px;
}
.party{
  text-align: center;
  background-color: #F15A29;
  color: white;
  height: 113px;
  font-family: Merriweather;
  padding : 50px;
}
.fastfood{
  padding:10px;
  margin: 10px;
  box-shadow:3px 3px 3px 3px;
  font-family: Merriweather;
}
.subscribe{
  background-image: url("../images/backgrounds/subscribe.jpg");
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Merriweather;
  margin: 0px;
}
footer{
  background-color: #F15A29;
  text-align: center;
  color: white;
  margin: -20px;
}
.foodbg{
  background-image: url("../images/backgrounds/foodsBg.jpg");
  padding: 5%;
  width: 980px;
  height:390px ;
  font-family: Merriweather;
  background-repeat: no-repeat;
  background-position: center;
}
.drinks{
  box-shadow: 1px 1px 1px 1px;
  padding:5px;
  margin-bottom: 10px;
  font-family: Merriweather;
  text-align: left;
}
table{
  color: #f15a29;
  background-color: white;
}
.nav{
  background-color: white;
  text-align: center;
  font-family: Merriweather;
}
form{
  opacity: 0.3;
}
.drink{
  text-align: right;
  font-family: Merriweather;
}
.btn{
  color: #f15a29;
  margin: 5px;
}
header{
  text-align: left;
  opacity: 0.3;
}
.customers{
  text-align: center;
  margin: 75px 100px 75px 100px;
  border: 10px solid #fff;
  box-shadow: -1px 1px 5px 4px #E3E3E3;
  padding: 20px 20px 20px 20px;
}
.button {
  padding: 15px 25px;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f15a29;
}
